.action {
    background-color: #fff;
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: justify;
    padding: 20px;
    margin: 80px 0;

    @media (max-width: 640px){
        grid-template-columns: 100%;
        margin: 20px 0;
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        font-size: 1.3vw;
        
        @media (max-width: 640px){
            grid-template-columns: 100%;
            text-align: center;
            margin-bottom: 20px;
            font-size: 4vw;
            &__div {
                margin: 10px 0;
            }
        }
        @media (min-width: 641px) and (max-width: 1023px){
            font-size: 2vw;
        }

    }

    &__button {
        align-content: center;
        text-align: center;
        

        &__item {
            background-color: rgb(116, 11, 11);
            padding: 15px;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            transition: background-color 0.25s ease, transform 0.2s ease;

            &:hover {
                background-color: rgb(77, 8, 8);
            }

            @media (max-width: 640px){
                padding: 10px;
                font-size: 3vw;
            }
            
        }
    }
}
.contador_timer {
    margin: 30px 0;

    .timer {
        font-size: 3vw;
        text-transform: uppercase;
        color: #fff;

        @media (max-width: 640px){
            font-size: 6vw;
        }
        @media (min-width:641px) and (max-width: 1023px){
            font-size: 6vw;
        }
    }
}