.action {
    background-color: #fff;
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: justify;
    padding: 20px;

    &__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        font-size: 1.3vw;
    }

    &__button {
        align-content: center;
        text-align: center;

        &__item {
            background-color: rgba(216, 19, 19, 0.767);
            padding: 15px;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
.contador_timer {
    margin: 30px 0;

    .timer {
        font-size: 3vw;
        text-transform: uppercase;
        color: #fff;
    }
}