footer {
    background-color: rgb(116, 11, 11);
    padding-top: 50px;
    color: #fff;

    h1 {
        font-size: 4vw;
        text-align: center;

        @media (max-width: 640px){
            font-size: 8vw;
            margin-bottom: 10px;
        }
    }

    .footer-links {
        &__list{
            display: flex;
            justify-content: center;
            gap: 60px;
            margin-bottom: 30px;

            &__item {
                display: inline;

                a {
                    text-decoration: none;
                    color: #fff;
                    transition: color 0.3s ease, font-size 0.3s ease;
                }
                a:hover {
                    color: gold;    
                    font-size: 18px;
                }
            }
            &__icons {
                display: flex;
                justify-content: center;
                gap: 50px;

                &__item {
                    list-style: none;
                    a {
                        img{
                            max-width: 36px;
                        }
                    }
                    
                }
            }

            @media (max-width:640px){
                display: block;
                &__item {
                    display: block;
                    text-align: center;
                }
            }
        }
    }

    .menu-footer {
        margin-bottom: 50px;
    }

    .direitos {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        background-color: rgb(77, 8, 8);
    }
}