.location{
    text-align: justify;
    margin: 50px 0;
    
    .text-aside {
        height: 50px;
        width: 60%;
        align-content: center;
        background-image: linear-gradient(to right, rgb(116, 11, 11), rgba(216, 19, 19, 0.767));
        border-radius: 0 30px 6px 0;
        margin-bottom: 20px;
        color: #fff;
        text-transform: uppercase;
        padding-left: 25px;

        h3 {
            font-weight: bold;
            letter-spacing: 2px;
        }
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        
        &__div{
            
            &__item {
                list-style: none;
                font-size: 1.3vw;
                margin-bottom: 20px;
                background-color: rgba(116, 11, 11, 0.6);
                clip-path: polygon(0 1%, 100% 0%, 90% 100%, 0% 100%);
                padding-left: 5px;
                color: white;
            }
        }
    }
}