@use "location";
@use "action";
@use "footer";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home {
    position: relative;
    max-height: 600px;
    overflow-y: hidden;

    &__img {
        width: 100%;
    }

    &__text {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        line-height: 90px;

        h1 {
            color: #fff;
            display: block;
        }

        &__title-six {
            font-size: 6vw;
        }
        &__title-eigth {
            font-size: 4vw;
        }
        &__title-four {
            font-size: 8.5vw;
        }
    } 
    @media (max-width: 640px) {
        &__text{
            line-height: 30px;

            &__title-six {
                font-size: 8vw;
            }
            &__title-eigth {
                font-size: 6vw;
            }
            &__title-four {
                font-size: 10.5vw;
            }
        }
    }

    @media (min-width: 641px) and (max-width: 1023px){ 
        &__text  {
            line-height: 80px;

            &__title-six {
                font-size: 10vw;
            }
            &__title-eigth {
                font-size: 8vw;
            }
            &__title-four {
                font-size: 12.5vw;
            }
        }
        
    }

}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;

    @media (max-width: 640px){
        width: 100%;
    }
}

.content__principal {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../imagens/cantor.jpg);
}

.text-up h3 {
    font-size: 3vw;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px 0;

    @media (max-width: 640px){
        font-size: 4vw;
    }
}
.text-up {
    margin-top: 80px;
    @media (max-width: 640px){
        margin-top: 30px;
    }
    @media (min-width:641px) and (max-width: 1023px){
        h3 {
            font-size: 6vw;
        }
    }
}
