* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home {
    position: relative;
    max-height: 500px;
    overflow-y: hidden;

    &__img {
        width: 100%;
        height: 100%;
    }

    &__text {
        position: absolute;
        top: 0;
        right: 0;

        overflow-y: hidden;
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;
        background-color: rgba(0, 0, 0, 0.4);
        line-height: 90px;

        h1 {
            color: #fff;
            display: block;
        }

        &__title-six {
            font-size: 6vw;
        }
        &__title-eigth {
            font-size: 4vw;
        }
        &__title-four {
            font-size: 8.5vw;
        }
    } 
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

.black-to-gray {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}

.text-up h3 {
    font-size: 2vw;
    color: #fff;
}

.location {
    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}